<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/first.css" />
    <title>Brain Tumor Detection</title>
    <script src="../apis/home.js" defer></script>
  </head>
  <body>
    <header>
      <div>
        <span>Brain Tumor</span>
      </div>
      <div id="navLinks">
        <a href="/signup">Signup</a>
        <a href="/login">Login</a>
        <a href="#" id="logoutLink" style="display: none">Logout</a>
      </div>
    </header>

    <section>
      <h1>Detection of Brain Tumor Using MR Images</h1>
    </section>
  </body>
</html>
